mysql_host: sandr0o-1
mysql_database: agama
mysql_user: agama
mysql_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          63613032616538333338366130623732313133653063383865336638323165613638613032396137
          6164663638363564303465353534663263633565646131350a326438363763623766376134623335
          66353164653130353636333461383463353461383364363062376233326430306161663832616562
          3262643637303237300a643730313932333966643337303231336436613130356639323634623032
          6135

grafana_user: sandro
grafana_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          66396465646233303538663138333765623666353263303738393438323235313831616262323463
          3862656130666138613165643930313833663137303161300a646539636339383064383235323265
          35643761316164626633303662396336303836303530653532303731383861373731643135393465
          6236363839313836350a333363336139393439313166646438323536636264393036316265313361
          6634

mysql_exporter_user: exporter
mysql_exporter_pass: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          33383662616138316633353730333162633439646163616362613364356133366236633763313335
          6663313831613735383234643236356138363938393639660a353065653139646264363535646430
          35666233663738386338386165326633393438663238613035323833353862386664383962316663
          3835656130656234650a363339646561613631333164663765653766623832353530653533313834
          3765

backup_user: backup
backup_pass: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36303062656230626537353735646339336463663834323636303935393635666662376131643331
          6664343066333932383032613733366164623135386533380a356466353865623830653761653037
          34633131363833616133343037386633396431373764373866626665356237353566376462386230
          3530336636333932640a333263633265323039366131643966613831313839656665656261306532
          6439

replication_user: replication
replication_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36623963623639346236353631333466333865326363663538356661363635616664353730613432
          3039373165653061336164353230333866613936636531390a376338663330386662663163333733
          31363662396330343435363933633933656536306464616139376436613766383439393338336430
          3164306433643936640a343938623663646266353761653035396234343539393666636336653437
          3538

forwarders:
  - 1.1.1.1;
  - 8.8.8.8;
  - 9.9.9.9;
  - 9.9.9.10;

allowed:
  - 192.168.42.0/24;
  - 127.0.0.0/8;

startup: luntik.sc

nameserver: 192.168.42.123
backupserver: 192.168.42.156
backup_server_ssh_key: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBSne71MCp6CQCHURWe3CLud6vPDkLfL83Oab/giAI7O
# ssh-ed25519

host: 193.40.156.86

port1: 7822

domainName: luntik.sc

vms:
  - sandr0o-1
  - sandr0o-2

node_id: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'].split('.')[-1] }}"

grafana_port: 3001
agama_port: 8001
nginx_port: 8080
pinger_port: 8086
prometheus_port: 9090

keepalived_interface: ens3
keepalived_virtual_id: 13

public_url: http://{{ ansible_host }}:{{ ansible_port//100}}80

mysql_exporter_port: 9104
bind_exporter_port: 9119
node_exporter_port: 9100
nginx_exporter_port: 9113
influxdb_exporter_port: 9424
keepalived_exporter_port: 9165
haproxy_exporter_port: 9101

dns_transfer: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          31343531663462616465343036336439643331343631336233626431316339373264376334306633
          3438633735333131363135343461646532306630303164390a323536346337393865373534333636
          62323266633031353866373735633739646366366235623433613935356138646162653864653832
          3663303364323039320a346564613566666366393931326234393766303535333230366461623034
          35306666353431306337623963313037323335653534646631356166333464373039353739333431
          6535623338373334353030326137373137373064363330343961

dns_update: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38636563396565373639353235313039376634623937646638343936303139346634323332383538
          3239616561663436313362376161303035343665626337300a623835666335633931303235396664
          33313435303263333030313364396230353839373666343237316331303464373166373161316135
          3561663764373663360a653037313931366235303863303663393033633061616463303338663432
          65363136343235316264373332633835343936303735623430373434333431353765643539333365
          3566353637313334333934316537616535393233663963636336

dns_cname_records:
  grafana: "{{ groups['grafana'][0] }}"
  influxdb: "{{ groups['influxdb'][0] }}"
  prometheus: "{{ groups['prometheus'][0] }}"
  web1: "{{ groups['all'][0] }}"
  web2: "{{ groups['all'][1] }}"
  #web3: "{{ groups['all'][2] }}"
  lb1: "{{ groups['web_servers'][0] }}"
  lb2: "{{ groups['web_servers'][1] }}"
  mysql1: "{{ groups['db_servers'][0] }}"
  mysql2: "{{ groups['db_servers'][1] }}"
  ns1: "{{ groups['dns_servers'][0] }}"
  ns2: "{{ groups['dns_servers'][1] }}"
  #ns3: "{{ groups['dns_servers'][2] }}"

dns_a_records:
  backup: 192.168.42.156
  cloudfare: 1.1.1.1
  google: 8.8.8.8
  google2: 8.8.4.4

vm_hostname: "{{ inventory_hostname }}"
vm0: sandr0o
vm1: sandr0o-1
vm2: sandr0o-2
vm3: sandr0o-3
