mysql_host: sandr0o-1
mysql_database: agama
mysql_user: agama
mysql_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          66303464346366316565323863383233393534303063653034623636346635613066656435373531
          3462626237666430666361303661646266346665663665350a323032313630323333353138346363
          39643134643566613434383532323937643433633430376132353862623135303431346236313937
          3739626636326638300a613535653931636164373737633264616430346662643834373362343766
          3235

grafana_user: sandro
grafana_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39616233356531363733393031323134373064333537326565616231666634303235393961633132
          3436386435626332316235356663613132626366383930350a626434373266336365353564333463
          30396162646166303465336336353930366132393035626432366265646465396339363563326361
          6233616166303830340a663265653931643230646263656166303630376236323832393039346430
          3537

mysql_exporter_user: exporter
mysql_exporter_pass: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36323162353733376432616663663537393635376432373134333262363462653966636130393931
          6336393739323865383866383431313365643462383536630a346434656463643038323063613238
          35663433626663333466333266393563366334633763383936326539613538663430663832323832
          6438663434633866300a623539373164333931636265303331643366396433613836343337333336
          6135

backup_user: backup
backup_pass: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          30376635353861376366643531653337326232666363336365663966313739393837353361663339
          3934383236316134306636323861393036396561643637320a373466336464653935653865373330
          32663865303263326337333832366232343139626365386639353663303337373164663938626636
          3334323066383063330a393631346662383266663861306336643135623835303230376661663464
          6262

replication_user: replication
replication_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36383963343737623065613438396263613834653731653065313531343630636233356433383363
          6436633331343263626233373333623133396162636235640a663533616530323730653339333137
          38613231376462353036656461636165316330613130383265366131323839343064373632356162
          3162326431366166330a613736336337306132616462333366653439306162663662313537666233
          3163

forwarders:
  - 1.1.1.1;
  - 8.8.8.8;
  - 9.9.9.9;
  - 9.9.9.10;

allowed:
  - 192.168.42.0/24;
  - 127.0.0.0/8;

startup: luntik.sc

backupserver: 192.168.42.132
backup_server_ssh_key: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBSne71MCp6CQCHURWe3CLud6vPDkLfL83Oab/giAI7O
# ssh-ed25519

port1: 17322

domainName: luntik.sc

vms:
  - sandr0o-1
  - sandr0o-2
  - sandr0o-3

node_id: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'].split('.')[-1] }}"

grafana_port: 3001
agama_port: 8001
nginx_port: 8080
pinger_port: 8086
prometheus_port: 9090

keepalived_interface: ens3
keepalived_virtual_id: 13

public_url: http://{{ ansible_host }}:{{ ansible_port//100}}80

mysql_exporter_port: 9104
bind_exporter_port: 9119
node_exporter_port: 9100
nginx_exporter_port: 9113
influxdb_exporter_port: 9424
keepalived_exporter_port: 9165
haproxy_exporter_port: 9101

dns_transfer: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36623532643862393333373339636539353837633361306139643064383761313963343538333065
          3166643039306336643562613834303466373661333538330a333066383164663639333835353331
          34653330653230613438323338623233353833343863623862373461623730346165663264663038
          3136643462626439620a393030666664376431396337353138366232343737333531633363393437
          38383035363165363266333965623261653562343065643861366432363832383561393332646533
          3834663662333966353664636336383565653064393731396566

dns_update: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          35623131326165343231613337393138333037333963376435306433363037373038353333616132
          6666393632316631376334306262316435323566343639390a333734323163623132303134326366
          33313733323633623765303038303836623935336332633865633536356637303662366161616232
          3439623965376436640a363233333934646431366664383636623938613833646462626365623964
          65316636366365303636366435643031666432363066326462393361363761363065356430346235
          3462326334323462373963633766323066633038376561623362

dns_cname_records:
  grafana: "{{ groups['grafana'][0] }}"
  influxdb: "{{ groups['influxdb'][0] }}"
  prometheus: "{{ groups['prometheus'][0] }}"
  web1: "{{ groups['all'][0] }}"
  web2: "{{ groups['all'][1] }}"
  #web3: "{{ groups['all'][2] }}"
  lb1: "{{ groups['web_servers'][0] }}"
  lb2: "{{ groups['web_servers'][1] }}"
  mysql1: "{{ groups['db_servers'][0] }}"
  mysql2: "{{ groups['db_servers'][1] }}"
  ns1: "{{ groups['dns_servers'][0] }}"
  ns2: "{{ groups['dns_servers'][1] }}"
  #ns3: "{{ groups['dns_servers'][2] }}"

dns_a_records:
  backup: 192.168.42.132
  cloudfare: 1.1.1.1
  google: 8.8.8.8
  google2: 8.8.4.4

vm_hostname: "{{ inventory_hostname }}"
vm0: sandr0o
vm1: sandr0o-1
vm2: sandr0o-2
vm3: sandr0o-3
