mysql_host: sandr0o-2
mysql_database: agama
mysql_user: agama
mysql_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          63613032616538333338366130623732313133653063383865336638323165613638613032396137
          6164663638363564303465353534663263633565646131350a326438363763623766376134623335
          66353164653130353636333461383463353461383364363062376233326430306161663832616562
          3262643637303237300a643730313932333966643337303231336436613130356639323634623032
          6135

grafana_user: sandro
grafana_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          66396465646233303538663138333765623666353263303738393438323235313831616262323463
          3862656130666138613165643930313833663137303161300a646539636339383064383235323265
          35643761316164626633303662396336303836303530653532303731383861373731643135393465
          6236363839313836350a333363336139393439313166646438323536636264393036316265313361
          6634

forwarders:
  - 1.1.1.1;
  - 8.8.8.8;
  - 9.9.9.9;
  - 9.9.9.10;

allowed:
  - 192.168.42.0/24;
  - 127.0.0.0/8;

startup: luntik.sc

nameserver: 192.168.42.105
backupserver: 192.168.42.156

host: 193.40.156.86

vmIP:
   - 192.168.42.115
   - 192.168.42.105

port1: 11522

domainName: luntik.sc

vms:
  - sandr0o-1
  - sandr0o-2

mysql_exporter_pass: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          33383662616138316633353730333162633439646163616362613364356133366236633763313335
          6663313831613735383234643236356138363938393639660a353065653139646264363535646430
          35666233663738386338386165326633393438663238613035323833353862386664383962316663
          3835656130656234650a363339646561613631333164663765653766623832353530653533313834
          3765
