vrrp_script check_haproxy {                 
    script "/usr/local/bin/ha88" 
    weight 20                             
    interval 1
}
vrrp_instance agama {
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_virtual_id }}
    {% if inventory_hostname == 'sandr0o-1' %}
    priority 100
    {% else %}
    priority 99
    {% endif %}
    advert_int 1                            
    virtual_ipaddress {                     
        192.168.100.{{ (hostvars['sandr0o-2']['ansible_default_ipv4']['address'] | split('.'))[3] }}/24
    }
    unicast_peer {
        {% for vm in groups["keepalived"] %}
        {% if vm != inventory_hostname %}
        {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
        {% endif %}
        {% endfor %}
    }
    track_script {
        check_haproxy
    }
}
