$TTL	604800
{{ domainName }}.	IN	SOA	sandr0o-1.{{ domainName }}. sandro.{{ domainName }}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
{% for vm in groups ['dns_servers'] %}
{{ domainName }}.	IN	NS	{{ vm }}
{% endfor %}
{% for vm in groups ['all'] %}
{{ vm }} IN A {{hostvars[vm]['ansible_default_ipv4']['address'] }}
{% endfor %}
backup.{{ domainName }}. IN A {{ backupserver }}









