$TTL	604800
{% for vm  in groups ['dns_masters'] %}
42.168.192.in-addr.arpa. IN SOA {{ vm }}.{{ domainName }}. db.{{ domainName }}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
{% endfor %}

{% for vm  in groups ['dns_servers'] %}
42.168.192.in-addr.arpa. IN NS {{ vm }}.{{ domainName }}.
{% endfor %}

{% for vm  in groups ['all'] %}
{{ (hostvars[vm]['ansible_default_ipv4']['address']|split('.'))[3] }} IN PTR {{ vm }}.{{ domainName }}.
{% endfor %}
backup.{{ domainName }}. IN A {{ backupserver }}

