acl trustedclients { {% for n in allowed%} {{ n }} {% endfor %} };
options {
  directory "/var/cache/bind";
        forwarders {
          {%for n in forwarders-%}
          {{ n }}
          {%endfor %}
        };
        dnssec-validation no;
  allow-query { trustedclients; };
};