acl trustedclients { {% for n in allowed%} {{ n }} {% endfor %} };
options {
  directory "/var/cache/bind";
        forwarders {
          {%for n in forwarders-%}
          {{ n }}
          {%endfor %}
        };
        dnssec-validation no;
  allow-query { trustedclients; };
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "dns_transfer" {
        algorithm hmac-sha256;
        secret "{{ dns_transfer }}";
};

key "dns_update" {
	algorithm hmac-sha256;
	secret "{{ dns_update }}";
};
